@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
}

body{
    background-color: #f6f6f6;
    min-height: 100vh;
}

hr{
    border: none;
    background-color: #241919;
    height: 1.3px;
}
a{
    text-decoration: none;
    color: inherit;
}

.active{
    background-color: blue;
}