# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
./env
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
*.log.*
log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Directory for compiled code
dist/
build/
.tmp/

# IDE and editor settings
.idea/
.vscode/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Vercel
.vercel/
